<DOCTYPE !html>
        <html>
        <head>
                <title>About</title>
                <link rel="icon" href='/img/weather.png'>
                <link rel='stylesheet' href="/css/styles.css">
        </head>
        
        <body>

        <div class="main-content">
                {{>header}}
                <div class="imagetest">
                <img class='portrait', src="/img/PIC1.jpg">
                <p>Created by {{name}}</p>
                </div>  

        </div>
           
            {{>footer}}  
        </body>
    
    
    
        </html>
    